<h1>NCAA Basketball and Weather Search</h1>

<p>Please search by going to:</p>
<p><code>https://dark-side-of-the-basketball.herokuapp.com/api/v1/{state}/{city}</code></p>
<p>You must replace {state} with your specific 2 letter state code (such as NC, AZ) and {city} with your city name (such as Durham, Raleigh).<br>
   Do not worry about spaces or capitalization.   </p>
